@import "../../app.scss";

.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile {
      gap: 20px;
      align-items: center;
      text-align: center;
      margin-top: 50px;
    }

    h1 {
      font-size: 100px;
      line-height: 88px;

      @include mobile {
        font-size: 36px;
      }
    }

    h2 {
      font-size: 24px;

      @include mobile {
        font-size: 20px;
      }
    }

    span {
      font-weight: 300;
    }
  }

  .formContainer {
    flex: 1;
    position: relative;

    @include mobile {
      width: 100%;
      padding: 50px;
    }

    .phoneSvg {
      stroke: orange;
      position: absolute;
      margin: auto;
      z-index: -1;

      @include mobile {
        width: 300px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;

        @include mobile {
          padding: 10px;
        }
      }

      button {
        padding: 20px;
        border: none;
        background-color: orange;
        font-weight: 500;
        cursor: pointer;

        @include mobile {
          padding: 10px;
        }
      }
    }
  }
}
