@import "../../app.scss";

.navbar {
  height: 100px;

  .wrapper {
    width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include mobile {
      width: auto;
      justify-content: flex-end;
      padding: 20px;
    }

    span {
      font-size: 24px;
      font-weight: bold;
      cursor: default;

      @include mobile {
        display: none;
      }
    }

    .social {
      display: flex;
      align-items: center;
      gap: 20px;

      a {
        width: 18px;
        height: 18px;

        &:hover {
          scale: 1.3;
          transition: 0.4s all ease-in-out;
        }
      }
    }
  }
}
