html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}

@mixin biggerDesktop {
  @media (max-width: 1600px) {
    @content;
  }
}

/* The entire scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px; /* Width of the scrollbar */
}

/* The scrollbar track */
::-webkit-scrollbar-track {
  border-radius: 10px; /* Optional: adds rounded corners to the track */
}

/* The scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
  background: white; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Optional: adds rounded corners to the thumb */
}
